NEXT_PUBLIC_MODE = production
NEXT_PUBLIC_SERVER_URL = https://lootbot-user-dashboard-server-stag-ro3eo5e2oq-an.a.run.app
NEXT_PUBLIC_MORALIS_KEYS = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6Ijc1MjExYWMxLTc2ODItNGU2MS05MTU1LWFlMzQyOTExOWE1NCIsIm9yZ0lkIjoiMzY5MDYwIiwidXNlcklkIjoiMzc5Mjk4IiwidHlwZUlkIjoiZGE1YmYxMzEtZmUyYS00ZTFiLWFiNjktMzE3ZTQxMDFkOGZlIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3MDMxNTEzNzUsImV4cCI6NDg1ODkxMTM3NX0.562W_t6jMFsS6BL-LlXh02lhNHDWBhn71Esc0j2ZhCI