.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border-top-color: transparent;
  -webkit-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.select {
  height: 40px !important;
  min-height: 40px !important;
  color: #6f767e !important;
  border-radius: 12px !important;
}

.ck-toolbar__items {
  background: #272b30 !important;
}

.ck-toolbar_grouping {
  padding: 0px !important;
  color: #fff !important;
}

.ck,
.ck-button__label {
  color: #fff !important;
}

.ck.ck-button:not(.ck-disabled):hover {
  background: #272b30 !important;
}

.ck.ck-editor__main > .ck-editor__editable {
  background: #111315 !important;
}

.steps .step-success:after {
  background: #90e788 !important;
}

.step:after {
  width: 12px !important;
  height: 12px !important;
  font-size: 0px !important;
  background: #6f767e !important;
}

.steps .step:before {
  background: #6f767e;
}

.ant-modal-content {
  background: #1a1d1f !important;
  color: #fff !important;
}
